body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
    background-color: transparent;
    border-radius: 8px;
    font-family: serif;
}

#settings-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2;
}

.settings-titlebar {
    height: 40px;
    flex-shrink: 0;
    user-select: none;
    border: none;
    justify-content: flex-end;
    display: flex;
}

.settings-window-controls {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
}

.setting-note {
    font-size: 12px;
}

.settings-window-controls button {
    background-color: transparent;
    border: none;
    color: #333333;
    width: 28px;
    height: 28px;
    margin: 0 2px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;

    font-size: 0;
    opacity: 0.7;
}

.settings-window-controls button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.setting-item button {
    background-color: #eeeeee;
    color: #1e1e1e;
    width: 48px;
    height: 28px;
    margin: 0 2px;
    padding: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.5;
}

.setting-item button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.setting-item input {
    width: 56px;
    height: 18px;
    margin: 0 2px;
    padding: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    font-size: 12px;
    opacity: 0.5;
}

.setting-item select {
    width: 56px;
    height: 20px;
    margin: 0 2px;
    padding: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    font-size: 12px;
    opacity: 0.5;
}

#settings-btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}