html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  color: #00FF41;
  font-family: 'Hiragino Sans', 'BIZ UDPGothic', 'Yu Gothic', 'Meiryo', sans-serif;
  font-size: 12px;
  border-radius: 6px;
  text-shadow:
    0 0 5px rgba(0, 255, 0, 0.5),
    0 0 10px rgba(0, 255, 0, 0.4),
    0 0 20px rgba(0, 255, 0, 0.3);
}

#shortcut-wrapper {
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000CC;
}

.content {
  padding: 2em;
  border-radius: 6px;
}

h1,
h2 {
  border-bottom: 1px solid #00FF41;

}

dl {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.5em 0em;
}

#shortcut-wrapper::-webkit-scrollbar {
  width: 12px;
}

#shortcut-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

#shortcut-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 65, 0.2);
  border-radius: 4px;
}

#shortcut-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 255, 65, 0.4);
}

.mac-only {
  display: none;
}

body.is-mac .mac-only {
  display: block;
}

/* ドラッグ用のタイトルバー */
#sc-title-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  -webkit-app-region: drag;
  z-index: 1;
}